<a href="https://colab.research.google.com/github/Deepak0325/Python/blob/main/Programming_Assignment_23.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#q1
def is_symmetrical(inp_):
  """ This function will take integer as an input and will return if the number is symmetrical or not"""
  inp_=str(inp_)
  if len(inp_)%2==0:
    if inp_[:int(len(inp_)/2)]==inp_[int(len(a)/2):][::-1]:
      print(True)
    else:
      print(False)
  else:
    if inp_[:round(len(inp_)/2)]==inp_[round(len(inp_)/2)+1:][::-1]:
      print(True)
    else:
      print(False)

In [ ]:
is_symmetrical("123454321")

True

In [ ]:
#q2
def multiply_nums(inp_):
  k=1
  try:
    for i in inp_.split(sep=", "):
      k=k*float(i)
    print(k)
  except Exception as e:
    print(e)

In [ ]:
multiply_nums("5, 4, 6")

120.0

In [ ]:
#q3
def square_digits(inp_):
  """ this function will return the square of individual digits inside an integer"""
  l=[]
  try:
    for i in str(inp_):
      l.append(str(int(i)**2))
    return int("".join(l))
  except Exception as e:
    return e

In [ ]:
square_digits(2234)

int

In [ ]:
#q4
def setify(inp_):
  return list(set(sorted(inp_)))

In [ ]:
setify([5,3,1,5,3])

[1, 3, 5]

In [ ]:
#q5
def mean1(inp_):
  """ This function will return the mean of all the digits inside an integer"""
  list_=list(str(inp_))
  k=0
  for i in list_:
    k=k+int(i)
  return int(k/len(list_))

In [ ]:
print(mean1(666))

6