<a href="https://colab.research.google.com/github/Deepak0325/Python/blob/main/programming_assignment_15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#q1
def divisible(n):
  for i in range(0,n+1):
      if i%5==0 and i%7==0:
        yield i

In [2]:
a=divisible(100)

In [3]:
for i in a:
  print(i,end=",")

0,35,70,

In [ ]:
#q2
def even_no(n):
  for i in range(0,n+1):
    if i%2==0:
      yield i

In [ ]:
a=even_no(10)

In [ ]:
for i in a:
  print(i,end=",")

0,2,4,6,8,10,

In [ ]:
#q3
l=[]
def fibonacci(n):
  for i in range(0,n+1):
    if i==0:
      l.append(0)
    elif i==1:
      l.append(1)
    elif i>1:
      l.append(l[i-2]+l[i-1])
  return l

In [ ]:
fibonacci(7)

[0, 1, 1, 2, 3, 5, 8, 13]

In [ ]:
#q4
def user_name(inp_):
      return inp_[:inp_.find("@")]

In [ ]:
print(user_name("deepak@gmail.com"))

deepak

In [ ]:
#q5
class shape:
  def area(self,length):
    return 0
  class square:
    def __init__(self,length):
      self.length=length
    def area(self):
      return (self.length*self.length)

In [ ]:
a=shape()

In [ ]:
b=a.square(5)

In [ ]:
b.area()

25