<a href="https://colab.research.google.com/github/Deepak0325/Python/blob/main/programming_assignment_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#q1
km=int(input("enter the number of kilometers:"))
print(f"{km} kilometers is equal to  {0.621371*km} miles")

enter the number of kilometers:10
10 kilometers is equal to  6.21371 miles

In [3]:
#q2
celcius=float(input("Enter the amount in celcius:"))
print(f"{celcius} celcius is equals to {(celcius*1.8)+32} farenheit")

Enter the amount in celcius:1
1.0 celcius is equals to 33.8 farenheit

In [9]:
#q3
import calendar

In [13]:
print(calendar.month(2022,7))

     July 2022
Mo Tu We Th Fr Sa Su
             1  2  3
 4  5  6  7  8  9 10
11 12 13 14 15 16 17
18 19 20 21 22 23 24
25 26 27 28 29 30 31

In [15]:
#q4
a=float(input("Enter your first number : "))
b=float(input("Enter your second number : "))
c=float(input("Enter your third number : "))
print((-b-((b*b)-(4*a*c))**0.5)/2*a)
print((-b+((b*b)-(4*a*c))**0.5)/2*a)

Enter your first number : 1
Enter your second number : 2
Enter your third number : 1
-1.0
-1.0

In [16]:
#q5
var_1=input("Enter your first variable:")
var_2=input("Enter your second variable:")
var_1,var_2=var_2,var_1
print(f"Value of first variable is {var_1}")
print(f"Value of second variable is {var_2}")

Enter your first variable:1
Enter your second variable:2
Value of first variable is 2
Value of second variable is 1