<a href="https://colab.research.google.com/github/Deepak0325/Python/blob/main/programming_assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#q1
def factorial(a):
  if a==0:
    return 1
  elif a>0:
    return a*(factorial(a-1))

In [3]:
factorial(6)

720

In [7]:
#q2
inp_num=int(input("Enter the number:"))
for i in range(1,11):
  print(f"{inp_num} x {i} = {inp_num*i}")

Enter the number:11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

In [9]:
#q3
inp_num=int(input("Enter a number :"))
for i in range(0,inp_num):
  if i==0:
    print(i,end=",")
  elif i==1:
    print(i,end=",")
  else:
    print((i-1)+(i-2),end=",")

Enter a number :7
0,1,1,3,5,7,9,

In [19]:
#q4
j=[]
inp_num=input("enter a number:")
if type(inp_num)==str:
  for i in range(len(inp_num)):
    j.append((int(inp_num[i])**len(inp_num)))
if sum(j)==int(inp_num):
  print(True)
else:
  print(False)

enter a number:371
True

In [28]:
#q5
j=[]
k=[]
inp_1=int(input("enter a number:"))
inp_2=int(input("enter second number:"))
for i in range(inp_1,inp_2+1):
  for p in range(len(str(i))):
    j.append(int(str(i)[p])**len(str(i)))
  if sum(j)==i:
    k.append(i)
    j=[]
  else:
    pass
    j=[]
print(k)

enter a number:300
enter second number:400
[370, 371]

In [30]:
#q6
def sum_natural_no(a,b):
  j=[]
  if a>0 and b>0:
    for i in range(a,b+1):
      j.append(i)
    return sum(j)
  else:
    raise ValueError("Values should be greater than 0")

In [33]:
sum_natural_no(1,100)

5050